# PostgreSQL Configuration
DATABASE_URL="postgresql://admin:admin123@localhost:5432/energy_monitoring"

# InfluxDB v3 Configuration 
INFLUX_URL="http://localhost:8181"
INFLUX_TOKEN="apiv3_x5NcVKZ95dsdWOrm-iW2hGJfCwn1it1Tm55dA_vsdPkrsWYPprPgcBNnUNeYiZ0ioXMXUVcpUKyLoKhcQz9PQQ"
INFLUX_DB="energy_monitoring"

# MQTT Configuration
MQTT_BROKER_URL="mqtt://localhost:1883"
MQTT_TOPIC_PATTERN="DATA/PM/+"